* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 25px 25px
}

section > article {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 372px;
  background-repeat: no-repeat;
  background-size: cover;
}

.prod1 {
  background-image: url(../img/product_1.jpg);
}

.prod2 {
  background-image: url(../img/product_2.jpg);
}

.prod3 {
  background-image: url(../img/product_3.jpg);
}

article > span {
  position: absolute;
}

article > span:first-child {
  background-color: green;
  margin: 8px;
  padding: 5px;
  right: 0;
}

article.prod2 > span:first-child {
  background-color: red;
}

article > span:last-child {
  display: none;
  bottom: 0;
  left: 50%;
  color: red;
  font-size: 30px;
}

article:hover > span:last-child{
  display: block;
}
