* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 15px 15px
}

section > article {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 372px;
  background-repeat: no-repeat;
  background-size: cover;
}

.prod1 {
  background-image: url(../img/product_1.jpg);
}

.prod2 {
  background-image: url(../img/product_2.jpg);
}

.prod3 {
  background-image: url(../img/product_3.jpg);
}

.prod4 {
  background-image: url(../img/product_4.jpg);
}

.prod5 {
  background-image: url(../img/product_5.jpg);
}

.prod6 {
  background-image: url(../img/product_6.jpg);
}

article > span {
  position: absolute;
}

article > span:first-child {
  border-radius: 8px;
  background-color: green;
  color: white;
  margin: 8px;
  padding: 5px 8px;
  right: 0;
}

article.prod2 > span:first-child, article.prod5 > span:first-child {
  background-color: red;
}

article > span:last-child {
  display: none;
  bottom: 0;
  left: 50%;
  color: red;
  font-size: 30px;
}

article:hover > span:last-child{
  display: block;
}
